<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills">List of MAD SKILLS</a>
    <p> SHOWCASING <%= title %></p>
  </body>
</html>
