
body {

  padding: 25vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cornflowerblue;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

a {
  color: white;
}

.delete-form {
  display: inline-block;
  margin-right: 20px;
}
    
.delete-form button {
  color: red;
}
    
li {
  list-style: none;
  font-size: 20px;
}

nav {
  
  align-items: center;
}